<% @events.each do |event| %>
<ul>
  <li>
    event.name
  </li>
  <li>
    event.description
  </li>
  <li>
    event.venue
  </li>
  <li>
    event.venue_address
  </li>
  <li>
    event.date_time
  </li>
</ul>
<% end %>