
<!-- # And I can see a list of 16 events with a header `16 events for March', sorted by popularity.
# For each event I can see the Event name, date & time, description (shortened to 140 characters), venue name (url to the venue page), venue address. -->

<div class="container">

  <h1>Events</h1>

  <%= "#{@events.count} events for March" %>

<div>
