---
http_interactions:
- request:
    method: get
    uri: http://api.eventful.com/json/events/search?app_key=<EVENTFUL_API_KEY>y&location=80202&sort_order=popularity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"Authentication Error","error":"1","description":"The application
        key provided (<EVENTFUL_API_KEY>y) is not registered with Eventful.  A valid
        application key is required."}

'
  recorded_at: Thu, 09 Feb 2017 17:21:41 GMT
- request:
    method: get
    uri: http://api.eventful.com/json/events/search?app_key=<EVENTFUL_API_KEY>&location=%7B%22q%22=%3E%2280202%22%7D&sort_order=popularity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"last_item":null,"total_items":"378","first_item":null,"page_number":"1","page_size":"10","page_items":null,"search_time":"0.107","page_count":"38","events":{"event":[{"watching_count":null,"olson_path":"America/Denver","calendar_count":null,"comment_count":null,"region_abbr":"CO","postal_code":"80202","going_count":null,"all_day":"0","latitude":"39.7427565","groups":null,"url":"http://denver.eventful.com/events/lil-wayne-boogie-wit-da-hoodie-marc-e-bassy-/E0-001-099079930-1?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"E0-001-099079930-1","privacy":"1","city_name":"Denver","link_count":null,"longitude":"-104.9940015","country_name":"United
        States","country_abbr":"USA","region_name":"Colorado","start_time":"2017-02-24
        20:00:00","tz_id":null,"description":null,"modified":"2017-01-28 23:03:43","venue_display":"1","tz_country":null,"performers":{"performer":[{"creator":"motownrecords","linker":"evdb","name":"Lil
        Wayne","url":"http://concerts.eventful.com/Lil-Wayne?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"P0-001-000034578-0","short_bio":"Rap
        / Hip Hop"},{"creator":"TaylorRea","linker":"evdb","name":"A Boogie Wit Da
        Hoodie","url":"http://concerts.eventful.com/performers/a-boogie-wit-da-hoodie-/P0-001-014205592-7?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"P0-001-014205592-7","short_bio":"Funky
        Trap"},{"creator":"TaylorRea","linker":"evdb","name":"Marc E. Bassy","url":"http://concerts.eventful.com/performers/marc-e-bassy-/P0-001-014205377-0?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"P0-001-014205377-0","short_bio":"Rapper"}]},"title":"Lil
        Wayne  - A Boogie Wit Da Hoodie, Marc E Bassy","venue_address":"700 14th Street","geocode_type":"EVDB
        Geocoder","tz_olson_path":null,"recur_string":null,"calendars":null,"owner":"evdb","going":null,"country_abbr2":"US","image":{"small":{"width":"48","url":"http://s2.evcdn.com/images/small/I0-001/017/996/581-5.jpeg_/lil-wayne-81.jpeg","height":"48"},"width":"48","caption":null,"medium":{"width":"128","url":"http://s2.evcdn.com/images/medium/I0-001/017/996/581-5.jpeg_/lil-wayne-81.jpeg","height":"128"},"url":"http://s2.evcdn.com/images/small/I0-001/017/996/581-5.jpeg_/lil-wayne-81.jpeg","thumb":{"width":"48","url":"http://s2.evcdn.com/images/thumb/I0-001/017/996/581-5.jpeg_/lil-wayne-81.jpeg","height":"48"},"height":"48"},"created":"2017-01-01
        01:44:31","venue_id":"V0-001-000150709-5","tz_city":null,"stop_time":null,"venue_name":"Bellco
        Theatre (formerly Wells Fargo Theatre)","venue_url":"http://denver.eventful.com/venues/bellco-theatre-formerly-wells-fargo-theatre-/V0-001-000150709-5?utm_source=apis&utm_medium=apim&utm_campaign=apic"},{"watching_count":null,"olson_path":"America/Denver","calendar_count":null,"comment_count":null,"region_abbr":"CO","postal_code":"80202","going_count":null,"all_day":"0","latitude":"39.7535091","groups":null,"url":"http://denver.eventful.com/events/born-osiris-/E0-001-098777881-2?utm_source=apis&utm_medium=apim&utm_campaign=apic","id":"E0-001-0987[...]
